@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.loginTitle{
    -fx-font-family: 'Righteous', cursive;
}

.mainTitle{
    -fx-font-family: 'Righteous', cursive;
}

.loginPane{
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
    -fx-background-color: #D9D9D9;
}

.loginTC{
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-border-color: gray;
    -fx-background-color: white;
    -fx-font-family: 'Righteous', cursive;
}

.loginPassword{
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-border-color: gray;
    -fx-background-color: white;
    -fx-font-family: Poppins;
}

.loginForgotPassword:hover{
    -fx-text-fill: #CD0000;
}

.loginButton{
    -fx-background-color: red;
    -fx-background-radius: 8px;
    -fx-text-fill: white;
    -fx-font-family: 'Righteous', cursive;
}

.hesap-yok-label{
    -fx-font-family: 'Righteous', cursive;
}

.hesap-olustur-label{
    -fx-font-family: 'Righteous', cursive;
}

.hasta-girisi-label{
    -fx-font-family: 'Righteous', cursive;
}

.personel-giris-label{
    -fx-font-family: 'Righteous', cursive;
}





















